services:
  - type: web
    name: Express-Notes
    env: node
    plan: free
    region: ohio
    branch: main
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: '3001'
    buildCommand: npm install
    startCommand: node app.js
    staticSite:
      enabled: false
